<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OBiletSuite" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="org.sozkan.listeners.AllureListener"/>
    </listeners>
    <test name="Tests">
        <classes>
            <class name="org.sozkan.tests.PurchasingBusTicketTest"/>
        </classes>
    </test>
</suite>
